@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home Page</h2>

<div id="gettingStarted">

    <a href="User/Registration">Register</a> an account or <a href="User/Login">Log-in</a> to get started

</div>