@model DvdRental.Models.Home.IndexModel
@{
}

<h2>Index</h2>
<p>Login or register to use this site</p>

@using (Html.BeginForm())

{ 

<p>form</p>

  

@Html.EditorForModel()
 <input type="submit" value="login"/>   
}

<p>@ViewBag.Result</p>