<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<header>
    <h1>Dvd Rental Site</h1>
    <h2></h2>
</header>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
